.todo {
}
#cabecera {
	opacity: 1;
	text-align: center;

}

#contenido {
	
	border: 5px solid silver;
	margin: 0px auto;
	width: 80%;
	background: while;
	padding: 10px;
	}
}

#img1 {
	height: 20%;
	width: 100%;

}
#img2 {
	height: 30%;
	width: 100%;
}

.btn-info{
	background: #0CB1BF;
color:black;
}

.btn-success{
	background: #0CB1BF;
color:black;
}

.btn-danger{
	background: red;
color:black;
}

.btn-modi{
	background: #0CB1BF;
color:black;	
}

.btn-ir{
		background: lime;
		color:black;
		}

.btn-cerrar{
		background: lime;
		color:black;
		}



.menu{
	display: flex;
}


body{box-sizing: border-box; font-family: Arial;display: flex;}
		

		/*estilos para tablets*/
@media only screen and (min-width: 1025px) and (max-width: 1200px){
	.body{
		width: 1000px;
		margin: 0px auto; 
		padding: 5px;
		height: 10%;
	}
	#img1 {
	height: 10%;
	width: 100%;

}
#img2 {
	height: 30%;
	width: 100%;
}
}

/*estilos para smartphones*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
	.body{
		width: 600px;
		margin: 0px auto; 
		padding: 5px;
		height: 10%;
	}
	#img1 {
	height: 10%;
	width: 80%;

}
#img2 {
	height: 10%;
	width: 80%;
}
}

/*estilos para telefonos medianos*/
@media only screen and(min-width: 481px) and (max-width: 768px){
	.body{
		width: 400px;
		margin: 0px auto; 
		padding: 5px;
		height: 10%;
	}
	#img1 {
	height: 5%;
	width: 20%;

}
#img2 {
	height: 10%;
	width: 20%;
}
}

/*estilos para telefonos pequeños*/
@media only screen and(min-width: 321px) and (max-width: 480px){
	.body{
		width: 300px;
		margin: 0px auto; 
		padding: 5px;
		height: 5%;
	}
	#img1 {
	height: 4%;
	width: 15%;

}
#img2 {
	height: 4%;
	width: 15%;
}
#contenido {
	
	border: 2px solid silver;
	margin: 0px auto;
	width: 20%;
	background: while;
	padding: 8px;
	}
}

/*estilos para telefonos pequeños*/
@media only screen and(min-width: 100px) and (max-width: 320px){
	.body{
		width: 100px;
		margin: 0px auto; 
		padding: 5px;
		height: 5%;
	}
	#img1 {
	height: 3%;
	width: 10%;

}
#img2 {
	height: 3%;
	width: 10%;
}
#contenido {
	
	border: 2px solid silver;
	margin: 0px auto;
	width: 10%;
	background: while;
	padding: 6px;
	}
}
