.todo {
}
#cabecera {
	opacity: 1;
	text-align: center;

}

#contenido {
	
	border: 5px solid silver;
	margin: 0px auto;
	width: 80%;
	background: while;
	padding: 10px;
	}
}

#img1 {
	height: 20%;
	width: 100%;

}
#img2 {
	height: 30%;
	width: 100%;
}

.btn-info{
	background: #0CB1BF;
color:black;
}

.btn-success{
	background: #0CB1BF;
color:black;
}

.btn-danger{
	background: red;
color:black;
}

.btn-modi{
	background: #0CB1BF;
color:black;	
}

.btn-ir{
		background: lime;
		color:black;
		}

.btn-cerrar{
		background: lime;
		color:black;
		}



.menu{
	display: flex;
}


body{box-sizing: border-box; font-family: Arial;display: flex;}
		

		/*estilos para tablets*/
@media only screen and (min-width: 768px) and (max-width: 940px){
	.proyect{
		width: 600px;
	}
}

/*estilos para smartphones*/
@media only screen and (min-width: 400px) and (max-width: 767px){
	.proyect{
		width: 400px;
	}
}

/*estilos para telefonos medianos*/
@media only screen and(min-width: 200px) and (max-width: 399px){
	.proyect{
		width: 200px;
	}
}

/*estilos para telefonos pequeños*/
@media only screen and(min-width: 100px) and (max-width: 199px){
	.proyect{
		width: 100px;
	}
}

/*estilos para telefonos pequeños*/
@media only screen and(min-width: 10px) and (max-width: 99px){
	.proyect{
		width: 10px;
	}
}
