body{background-color: #264673; box-sizing: border-box; font-family: Arial;display: flex;}
		form{
			background-color: white;
			padding: 10px;
			margin: 100px auto;
			width: 400px;
		}
		input[type=text], input[type=password]{
			padding: 10px;
			width: 380px;
			border: 1px solid silver;
			color: #1E69E3;
			font-size: 18px;
    		outline: none;
		}
		input[type=submit]{
    	background-color: #1E69E3;
    	color: white;
    	padding: 8px;
    	border: none;
    	width: 200px;
		
		}
		.center{
    text-align: center;
}
		.btn-success{
		background: #0CB1BF;
		color:black;
		}

		.btn-ir{
		background: silver;
		color:black;
		}


		/*estilos para tablets*/
@media only screen and (min-width: 768px) and (max-width: 940px){
	.proyect{
		width: 600px;
	}
}

/*estilos para smartphones*/
@media only screen and (min-width: 400px) and (max-width: 767px){
	.proyect{
		width: 400px;
	}
}

/*estilos para telefonos medianos*/
@media only screen and(min-width: 200px) and (max-width: 399px){
	.proyect{
		width: 200px;
	}
}

/*estilos para telefonos pequeños*/
@media only screen and(min-width: 100px) and (max-width: 199px){
	.proyect{
		width: 100px;
	}
}

/*estilos para telefonos pequeños*/
@media only screen and(min-width: 10px) and (max-width: 99px){
	.proyect{
		width: 10px;
	}
}